
@import url('font.css');

*{
transition-duration:0.4s;
margin:0;
padding:0;
box-sizing:border-box;
overflow:hidden;
}

.page{
margin:10px;
display:grid;
place-items:center;
align-content:center;
}

.navbar{
padding:4rem;
font-family:'roboto';

}

.nav{
text-decoration:none;

}

.a1:hover, .a2:hover, .a3:hover{text-decoration:underline;}

.zsh{
font-size:20px;
font-family:'roboto';
line-height:40px;
}

.pnb1{
font-size:20px;
font-family:'Roboto';
font-weight:100;
letter-spacing:20px;
}

.main{
padding-top:20px;

}
.pm1{
font-size:60px;
font-family:'Roboto';
font-weight:600;
}

.buttonsection{
padding-top:25px;
}
.btn{
background-color:black;
color:white;
padding:4px;
border:1px solid black;
cursor:pointer;
font-family:'Amatic SC';
font-weight:900;
letter-spacing:4px;
}

.btn1:active{background-color:white!important;}

.btn:active{
background-color:white;
color:black;
}

.footer{
padding:4rem;
position:fixed;

}

hr{
display:grid;
background-color:black;
border:none;
height:3px;
}

.dark-mode{
background-color:black;
color:white;
}


